<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
<h1>David's Blog</h1>
<button type="button" onclick="location.href='/logout'">Log out</button>
<form action="/add" method="post">
  <label for="title">Title: <input type="text" name="title" id="title"></label><br>
  <label for="date">Date: <input type="date" name="date" id="date"></label><br>
  <label for="text">Text: <textarea name="text" id="text" cols="30" rows="10"></textarea></label><br>
  <button type="submit">Save</button>
</form>
<hr>
{content}
</body>
</html>